<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Laporan PKL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-section ion-text-center">
    <!-- Logo Sekolah -->
    <img src="assets/logo.jpeg" alt="Logo Sekolah" class="school-logo" />
    <h2 class="school-name">SMP Negeri 3 Juhar</h2>
    <p class="welcome-text"><strong>Selamat Datang!</strong></p>
    <p class="address">Juhar Ginting, Kec. Juhar, Kabupaten Karo, Sumatera Utara 22163</p>
    <p class="description">
      Aplikasi ini dirancang untuk memudahkan Mahasiswa dalam menyusun dan mengelola laporan Praktik Kerja Lapangan
      (PKL).
    </p>
  </div>

  <!-- Kegunaan Aplikasi -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kegunaan Aplikasi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul style="padding-left: 20px; text-align: left;">
        <li>Mencatat dan menyimpan kegiatan harian PKL secara digital</li>
        <li>Mengelola data sekolah tempat PKL</li>
        <li>Menghasilkan laporan otomatis dalam format terstruktur</li>
        <li>Mempermudah pengumpulan laporan ke pembimbing</li>
        <li>Meminimalisir penggunaan kertas (paperless)</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-grid class="gallery-grid ion-padding-vertical">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-img src="assets/4.jpeg" class="gallery-img"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/2.jpeg" class="gallery-img"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/3.jpeg" class="gallery-img"></ion-img>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>